In [127]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import statsmodels.api as sm
import warnings

In [18]:
insurance=pd.read_csv('insurance2.csv')

### Log transformation

In [19]:
insurance['charges_log'] = (insurance['charges'] ).transform(np.log)
insurance

,Unnamed: 0,sex,bmi,children,smoker,region,charges,charges_log
0,0,0,27.900,0.0,0,0,16884.92400,9.734176
1,1,1,33.770,1.0,1,1,1725.55230,7.453302
2,2,1,33.000,3.0,1,1,4449.46200,8.400538
3,3,1,22.705,0.0,1,1,21984.47061,9.998092
4,4,1,28.880,0.0,1,1,3866.85520,8.260197
...,...,...,...,...,...,...,...,...
1074,1331,0,33.400,0.0,0,0,10795.93733,9.286925
1075,1333,1,30.970,3.0,1,1,10600.54830,9.268661
1076,1334,0,31.920,0.0,0,0,2205.98080,7.698927
1077,1335,0,36.850,0.0,0,0,1629.83350,7.396233
1078,1336,0,25.800,0.0,0,0,2007.94500,7.604867

In [21]:
insurance= insurance.drop(['charges','Unnamed: 0'],axis=1)

In [22]:
insurance

      sex     bmi  children  smoker  region  charges_log
0       0  27.900       0.0       0       0     9.734176
1       1  33.770       1.0       1       1     7.453302
2       1  33.000       3.0       1       1     8.400538
3       1  22.705       0.0       1       1     9.998092
4       1  28.880       0.0       1       1     8.260197
...   ...     ...       ...     ...     ...          ...
1074    0  33.400       0.0       0       0     9.286925
1075    1  30.970       3.0       1       1     9.268661
1076    0  31.920       0.0       0       0     7.698927
1077    0  36.850       0.0       0       0     7.396233
1078    0  25.800       0.0       0       0     7.604867

[1079 rows x 6 columns]

### Test Train Split

In [119]:
y=insurance['charges_log']
x=insurance.drop('charges_log',axis=1)

In [120]:
X_train, X_test, y_train, y_test = train_test_split(x, y)

### Models

In [121]:
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.kernel_ridge import KernelRidge

In [122]:
regressors = {
    "LinearRegression" :LinearRegression(),
    "ridge" :  KernelRidge(),
    "ElasticNet" : ElasticNet(),
    "gradientBoost" : GradientBoostingRegressor()
}

In [126]:
train_cross_scores= []
test_cross_scores = []

for key, regressor in regressors.items():
    regressor.fit(X_train,y_train)
    train_score = cross_val_score(regressor,X_train,y_train, cv=5)
    train_cross_scores.append(round(train_score.mean(),2))
    test_score = cross_val_score(regressor, X_test,y_test, cv=5)
    test_cross_scores.append(round(test_score.mean(),2))
    
        
    
    
    
    
    #regressor.fit(X_train,y_train)
    #y_pred=regressor.predict(X_test)
    #meansquarederrors=np.math.sqrt(mean_squared_error(y_test,y_pred))
    #r2scores=r2_score(y_test,y_pred)
    #r2_scores.append(r2scores)
    #meansquarederror.append(meansquarederrors)

print(test_cross_scores)
print(train_cross_scores)

[0.03, -5.24, -0.06, -0.1]
[0.02, -4.54, -0.0, -0.06]

## Retrain Linear Regression Model

In [135]:
regressor= LinearRegression()

regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
meansquarederrors=np.math.sqrt(mean_squared_error(y_test,y_pred))
r2scores=r2_score(y_test,y_pred)
adj_r2 =1 - (1-regressor.score(X_test, y_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

print(meansquarederrors)
print(r2scores)
print(adj_r2)

0.7193533377136495
0.07217629138641823
0.05460387266267619